include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include mysaas *.css
recursive-include mysaas *.csv
recursive-include mysaas *.html
recursive-include mysaas *.ico
recursive-include mysaas *.js
recursive-include mysaas *.json
recursive-include mysaas *.md
recursive-include mysaas *.png
recursive-include mysaas *.py
recursive-include mysaas *.svg
recursive-include mysaas *.txt
recursive-exclude mysaas *.pyc